<div style="padding: 8px 16px 16px 16px; border: solid 1px #999; background-color: #333; border-radius: 5px;">
    <h3>Non sei ancora tesseratǝ ?</h3>
    <p>
        Le uscite in bicicletta sono rivolte esclusivamente alle socie ed ai soci dell’associazione,
        cliqua qui per fare parte della nostra associazione !
    </p>
    <a href="/tesseramento">
        <button style="cursor: pointer;border-radius: 5px;background: #7a2f7d;border: none;color: white;font-weight: bold;padding: 12px;">Diventare sociǝ</button>
    </a>
</div>
